node_modules/
.env
# Ignore macOS system files
../.DS_Store

# Ignore Google Cloud CLI tarball
../google-cloud-cli-477.0.0-darwin-arm.tar.gz

# Ignore GitHub workflow files
../.github/

# Ignore Google Cloud SDK directory
google-cloud-sdk/

# Ignore large files managed by Git LFS
node-v22.3.0.pkg

