/* custom.css */
body {
    background-color: #343a40; /* Dark gray color code */
}

.bg-lightblue {
    background-color: #add8e6; /* Light blue color code */
}

a:hover {
    transform: scale(0.9); /* Adjust the scale factor as needed */
    color: white; /* Change the color of the link text */
    text-decoration: underline;
}
