node_modules/
.env
.DS_Store
# Ignore Google Cloud CLI tarball
../google-cloud-cli-477.0.0-darwin-arm.tar.gz

# Ignore GitHub workflow files
../.github/

# Ignore Google Cloud SDK directory
google-cloud-sdk/

